registry=https://registry.npmmirror.com/ 
electron_mirror=https://npmmirror.com/mirrors/electron/ 
electron-builder-binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/ 
electron_custom_dir=28.3.3 
